 ul {list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color:#922d2d;}
li {
 float: left;
}
li a {display: block;color:#ffffff;text-align: center;padding: 17px 20px;text-decoration: none;}
li a:hover {background-color:rgb(211, 206, 236);}
.p1 {text-align:center}
.p2 {text-align:left}
table, th, td {
    border: 1px solid black; border-collapse;
    }
    th, td {
    padding: 6px;
    text-align: left;
    }
    table {width:70%}
    p {text-align:justify}
    p {text-align:justify}
body{ background-color: rgb(255, 230, 230);}
ul {border-style: outset;}
img {border-radius: 8px;}
img {width:15%}
h1 {letter-spacing: 3px;}
h1 {text-shadow: 2px 2px rgb(114, 106, 106);}